* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F2F1E8;

  font-family: sans-serif;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
  overflow-x: hidden;
}

header {
  background-color: #181880;
  border-bottom: 5px solid rgb(209, 0, 0);
  color: white;
  padding: 20px 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.header-nav,
.produtos {
  display: flex;
  gap: 50px;
}

li {
  list-style-type: none;
  font-size: 120%;
  cursor: pointer;
}

input {
  border-radius: 5px;
  padding: 2px;
}

.produtos {
  margin: 50px;
  flex-wrap: wrap;
}

.produtos li {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.15);

  min-width: 130px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}